html,
body,
main {
  height: 100%;
  margin: 0;
}

h2 {
  font-weight: normal;
  font-size: inherit;
}

body {
  background-color: grey;
}

main {
  display: flex;
}

nav {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  width: 25%;
}

.link-text {
  color: blue;
  text-decoration: underline;
}

.dashboard-section,
nav {
  height: 100%;
}
